{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/base.css' %}">
</head>
<body>
  {% block content %}{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var getDishesUrl = "{% url 'get-dishes' %}";
</script>
<script src="{% static 'main_app/js/base.js' %}"></script>
{% block tail %}{% endblock %}
</html>
