{% extends "main_app/base.html" %}
{% load static %}

{% block title %}Меню{% endblock %}

{% block tail %}
  <script type="text/javascript">
    var createDishUrl = "{% url 'create-dish' %}";
  </script>
  <script src="{% static 'main_app/js/index.js' %}"></script>
{% endblock %}

{% block content %}
  {% include "main_app/header.html" with page_kind="index" %}

  <div class="container">
    {% for category in categories %}
      <div>
        <h2>{{ category.name }}</h2>
        <div class="row" id="category{{ category.id }}">
        </div>
      </div>
      <hr>
    {% endfor %}
    <a href="{% url 'order' %}">
      <button class="btn btn-success">Отправить</button>
    </a>
  </div>
{% endblock %}
