{% extends "main_app/base.html" %}

{% block title %}Меню{% endblock %}

{% block head %}{% endblock %}

{% block tail %}
  <script type="text/javascript">
    $(document).ready(function() {
      getDishes();

      $('#dishForm').submit(function(e) {
        e.preventDefault();

        var data = new FormData(this);
        $.ajax({
          url: "{% url 'create-dish' %}",
          data: data,
          type: "POST",
          processData: false,
          contentType: false,
        })
        .done(function(data) {
          console.log('data', data);
        })
        .fail(function() {
          alert("Ошибка при сохранении данных");
        });
      });
    });
  </script>
{% endblock %}

{% block content %}
  {% include "main_app/header.html" with page_kind="index" %}

  <div class="container">
    {% for category in categories %}
      <div>
        <h2>{{ category.name }}</h2>
        <div class="row" id="category{{ category.id }}-items">
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>
{% endblock %}
