{% extends "main_app/base.html" %}
{% load static %}

{% block title %}Заказ{% endblock %}

{% block tail %}
  <script src="{% static 'main_app/js/order.js' %}"></script>
{% endblock %}

{% block content %}
  {% include "main_app/header.html" with page_kind="order" %}
  <div class="container">
    <div>
      <h2>Блюда</h2>
      <div class="row" id="dishesBox"></div>
      <hr>
    </div>
    <div>
      <h2>Аллергены</h2>
      <span id="allergensBox"></span>
      <hr>
    </div>
    <div>
      <h2>Цена</h2>
      <span id="priceBox"></span> </span>руб.</span>
    </div>
  </div>
{% endblock %}
